<app-cart *ngIf="selected" (cancelClicked)="onCartCancel()"></app-cart>


<div class="header ">
    <div class="header-content ">
        <div class="header-prepend ">
            <div class="logo-container">
                <img src="../../../assets/chef.png" class="imgchef">
                <p class="logo-text">BSS RESTAURANT</p>
            </div>
        </div>
        <div class="header-append ">
            <div class="aligncenter">
                <div class="link-container">
                    <div *ngIf="isScreenBelow800; else elsePart" class="d-flex">
                        <a class="nav-link" (click)="onClilckCart()">
                            <div class="cart-container d-flex">
                                <span class="material-symbols-outlined">
                                    shopping_basket
                                </span>
                                <div *ngIf="cartvalue>0"
                                    style="width: 1.25rem; height: 1.25rem; text-align: center; border-radius: 50%; background-color: white; top: 3px; left:5px ; color: black; ">
                                    {{cartvalue}}
                                </div>
                            </div>
                        </a>

                        <a class="nav-link">
                            <div class="cart-container">
                                <span class="material-symbols-outlined">
                                    menu
                                </span>

                            </div>
                        </a>
                    </div>
                    <ng-template #elsePart>
                        <a class="active-nav-link">Admin</a>
                        <a class="nav-link">Our Services</a>
                        <a class="nav-link">About Us</a>

                        <a class="nav-link" (click)="onClilckCart()">

                            <div class="cart-container d-flex">
                                <span class="material-symbols-outlined">
                                    shopping_basket
                                </span>
                                <div *ngIf="cartvalue>0"
                                    style="width: 1.25rem; height: 1.25rem; text-align: center; border-radius: 50%; background-color: white; top: 3px; left:5px ; color: black; ">
                                    {{cartvalue}}
                                </div>
                            </div>


                        </a>
                    </ng-template>

                </div>

            </div>
        </div>
    </div>
</div>