<div class="header ">
    <div class="header-content ">
        <div class="header-prepend ">
            <div class="logo-container">
                <img src="../../../assets/chef.png" class="imgchef">
                <p class="logo-text">BSS RESTAURANT</p>
            </div>
        </div>
        <div class="header-append col-6">
            <div class="aligncenter">
                <div class="link-container">
                    <a class="active-nav-link">Admin</a>
                    <a class="nav-link">Our Services</a>
                    <a class="nav-link">About Us</a>
                    <a class="nav-link" (click)="onClilck()">
                        <div class="cart-container">
                            <span class="material-symbols-outlined">
                                shopping_basket
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>