.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.alert-box {
    height: 650px;
    width: 650px;
    position: fixed;
    top: 10vh;
    left: 65vh;
    bottom: 10vh;
    padding: 50px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}