@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");


.center-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 202, 202, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.material-symbols-outlined {
    font-size: 50px;
    color: #cc080b;
}

.new-order {
    padding: 4rem;
    height: calc(100vh - 66px);
}

.heading-font {
    font-family: "Quattrocento", serif;
    font-size: 32px;
    font-weight: 700;
    color: primary;
    padding-bottom: 5px;
    border-bottom: 3px solid #cc080b;
    width: 170px;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.order-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: -0.75rem;
}

.table-select {
    padding: 0.75rem;
    margin-left: 0.75rem;
    width: 25%;
}

.table-scroll {
    padding: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 242 / var(--tw-bg-opacity));
    border-radius: 5px;
}

.tables {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 305px);
}

.table {
    background-color: inherit;
    padding: 0.5rem;
    border: solid;
    border-color: rgba(32, 12, 12, 0.5);
    border-width: 2px;
    border-radius: 0.375rem;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.food-select {
    width: 75%;
    padding: 0.75rem;
    margin-left: 0.75rem;
}

.food-scroll {
    padding: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 242 / var(--tw-bg-opacity));
    position: relative;
    border-radius: 5px;
}

.foods {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 305px);
}

.food {
    flex-direction: row;
    padding: 1rem;
    border: solid;
    border-color: rgba(32, 12, 12, 0.5);
    border-width: 2px;
    border-radius: 0.375rem;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    border-radius: 10px;
}

.food:hover {
    border-color: #cc080b;
}

.table:hover {
    border-color: #cc080b
}

.button-61 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
    z-index: 10;
}

.button-61:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
}


.off {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
}

.button-61:not(:disabled) {
    background-color: #cc080b;
}

.button-61:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: rgb(245, 107, 107);
}

.selected {
    background-color: #cc080b;
    color: white;
}

@media (max-width: 1150px) {
    .new-order {
        padding: 2rem;
    }

    .order-container {
        flex-direction: column;
    }

    .table-select {
        width: 100%;
    }

    .tables {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
        height: calc(100% - 35%);
    }

    .table {
        margin-right: 16px;
        margin-bottom: 0px;
    }

    .food-select {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .food {
        flex-direction: column;
    }


}

.tables::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.tables::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.tables::-webkit-scrollbar-thumb:hover {
    background-color: #cc080b;
}

.foods::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.foods::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.foods::-webkit-scrollbar-thumb:hover {
    background-color: #cc080b;
}