<div class="new-order">
    <div class="heading-container">
        <h2 class="heading-font">Order Food</h2>
    </div>

    <div class="order-container">
        <div class="table-select">
            <div class="table-scroll">
                <h6 style="font-weight: 700; text-align: center; margin-bottom: 0.5rem;">Select a Table</h6>
                <div class="tables">
                    <div class="table">
                        <div
                            style="justify-content: center; align-items: center; flex-direction: column; width: 130px; height: 160px; display: flex;">
                            <img src="../../../assets/chef.png"
                                style="height: 120px; width: 120px; max-width: 100%; vertical-align: middle; ">
                            <p>TB004</p>


                        </div>
                    </div>

                    <div class="table">
                        <div
                            style="justify-content: center; align-items: center; flex-direction: column; width: 130px; height: 160px; display: flex;">
                            <img src="../../../assets/chef.png"
                                style="height: 120px; width: 120px; max-width: 100%; vertical-align: middle; ">
                            <p>TB004</p>


                        </div>
                    </div>

                    <div class="table">
                        <div
                            style="justify-content: center; align-items: center; flex-direction: column; width: 130px; height: 160px; display: flex;">
                            <img src="../../../assets/chef.png"
                                style="height: 120px; width: 120px; max-width: 100%; vertical-align: middle; ">
                            <p>TB004</p>


                        </div>
                    </div>

                    <div class="table">
                        <div
                            style="justify-content: center; align-items: center; flex-direction: column; width: 130px; height: 160px; display: flex;">
                            <img src="../../../assets/chef.png"
                                style="height: 120px; width: 120px; max-width: 100%; vertical-align: middle; ">
                            <p>TB004</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="food-select">
            <div class="food-scroll">
                <h6 style="font-weight: 700; text-align: center; margin-bottom: 0.5rem;">Select Foods</h6>
                <div class="foods">
                    <div class="food">

                    </div>
                </div>
            </div>
        </div>
    </div>