@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
html,
body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
